.link-shortener-form-wrapper {
  background: #eee;
  max-width: 600px;
  margin: 40px auto;

  .link-shortener-form-wrapper-inner {
    padding: 10px;
    border: 1px solid #ccc;
  }

  .form-inputs {
    list-style: none;
    padding: 0;
    li {
      padding: 0 0 20px 0;
      &:last-child {
        padding: 0;
      }
      &.button-input-group {
        text-align: right;
      }
    }
  }

  .help-text {
    text-align: left;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
  }

  .url-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    font-size: 20px;
    text-transform: uppercase;
  }

  .button {
    border: 1px solid #000;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 14px;
    float: right;
    background: red;
    &.loading {
      background: #ccc;
      border: 1px solid #999;
    }
  }

  .shorted-link-result-wrapper {
    text-align: center;
    padding: 10px;
    .label {
      display: inline-block;
      margin: 0 10px 0 0;
      font-weight: 900;
    }
  }
}