// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../../../node_modules/font-awesome/scss/font-awesome";


* {
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

body {
  padding-top: 30px;
  font-family: 'Open Sans', sans-serif;
}